<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Autenticación</title>

    <link rel="stylesheet"
          href="/css/estilos.css">

</head>

<body>

    <div class="contenedor-login">

        <h1>Autenticación</h1>

        <form id="formLogin">

            <label>Usuario</label>

            <input
                type="text"
                id="usuario"
                required>

            <label>Contraseña</label>

            <input
                type="password"
                id="password"
                required>

            <br><br>

            <button type="submit">

                Ingresar

            </button>

        </form>

        <br>

        <div id="mensaje"></div>

    </div>

    <script src="/js/login.js"></script>

</body>

</html>
